/* Main container */
.checkout-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 80px auto;
    gap: 40px;
    font-family: 'Helvetica Neue', sans-serif;
    color: #1c1c1e;
    padding: 0 20px;
}

/* Left: Order Summary */
.checkout-summary {
    flex: 1;
    padding: 30px 25px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 600;
}

.checkout-summary h2 {
    font-size: 1.2rem;
    font-weight: 700;
}

.checkout-summary p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 700;
}

.order-summary-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
    max-height: 50vh;
    overflow-y: auto;
    padding-right: 5px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1rem;
    color: #111;
}

/* Right: User Form */
.checkout-form {
    flex: 1;
    padding: 30px 25px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}

#userForm {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.checkout-form h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.checkout-form label {
    margin-top: 15px;
    font-weight: 600;
}

.checkout-form input,
.checkout-form textarea {
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #d1d1d6;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.proceed-btn {
    margin-top: 25px;
    padding: 18px 0;
    background-color: #0071e3;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border-radius: 16px;
    font-size: 1.25rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%
}

.proceed-btn:hover {
    background-color: #005bb5;
    transform: scale(1.02);
}

/* Responsive */
@media (max-width: 900px) {
    .checkout-container {
        flex-direction: column;
        gap: 30px;
    }
}
