/* Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.appbar {
    background-color: white;
    /*box-shadow: 0 2px 6px rgba(0,0,0,0.1);*/
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 50;
    height: 90px !important;
    max-height: 90px !important;
    box-sizing: border-box;
}

.appbar > * {
    flex-shrink: 0;
}

/* Logo */
.logo {
    font-size: 1.25rem;
    font-weight: bold;
    color: #1f2937;
    letter-spacing: -0.015em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-img {
    display: none;
}

@media (min-width: 768px) {
    .logo-img {
        display: block;
        object-fit: cover;
        overflow: hidden;
        width: 35%;
    }
}

.highlight {
    color: #2563eb;
}

.home-navigation {
    display: inline-block;
    /*background-color: #2563eb;*/
    color: black;
    padding: 14px 18px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.home-navigation:hover {
    color: rgba(0, 0, 0, 0.68);
    cursor: pointer;
}

/* Cart button */
.cart-icon {
    width: 25px;
    height: 25px;
}

.to-cart-btn {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    background-color: #2563eb;
    color: #fff;
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.25s ease, transform 0.15s ease;
    height: 45px;
    max-height: 50px;
    max-width: 120px;
}

.to-cart-btn:hover {
    background-color: #1e4fcf; /* darker on hover */
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(37, 99, 235, 0.4);
}

.to-cart-btn:active {
    transform: translateY(0);
}

.cart-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2563eb;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    transition: background-color 0.25s ease, transform 0.15s ease;
    cursor: pointer;
    height: 40px;
    max-height: 40px;
}

.cart-link h3 {
    margin: 0;
    font-size: 16px;
}

.cart-link:hover {
    background-color: #1e4fcf; /* darker on hover */
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(37, 99, 235, 0.4);
}

.cart-link:active {
    transform: translateY(0);
    /*box-shadow: 0 2px 4px rgba(37, 99, 235, 0.3);*/
    cursor: pointer;
}

/* Container */
.container {
    width: 90%; /* 🔹 Now 90% width */
    margin: 0 auto;
    /*padding: 20px;*/
    max-width: 1600px; /* optional safeguard for very large screens */
    padding-bottom: 0;
    /*margin-bottom: 0;*/
}

@media (max-width: 767px) {
    .home-navigation {
        font-size: 24px;
    }

    .logo {
        /*display: none;*/
    }
}