body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background: #f8f9fa;
    color: #333;
}

.vs-slider-container {
    position: relative;
    padding: 40px;
    padding-top: 10px;
}

.vs-slider {
    position: relative;
    width: 100%;
    height: calc(100dvh - 110px);
    overflow: hidden;
    border-radius: 28px;
    border: none;
    background: none;
}

.vs-slides {
    position: relative;
    width: 100%;
    height: 100%;
}

.vs-slide {
    display: none;
    width: 100%;
    height: 100%;
}

.vs-slide.vs-active {
    display: block;
    animation: vs-fade 1s ease-in-out;
}

.vs-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes vs-fade {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

.vs-prev, .vs-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 22px;
    transition: background 0.3s;
    opacity: 0;
    pointer-events: none;
}

.vs-prev {
    left: 20px;
}

.vs-next {
    right: 20px;
}

.vs-prev:hover, .vs-next:hover {
    background: rgba(0, 0, 0, 0.9);
}

.hero-content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    max-width: 350px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.short-text {
    font-size: 0.9rem;
    color: #ffffff;
    line-height: 1.5;
    font-family: 'OpenSans';
}

.explore-more-button {
    background: #ffffff;
    color: #000;
    border: none;
    padding: 14px 24px;
    border-radius: 24px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.explore-more-button:hover {
    background: #f1f1f1;
}

.hero-content-product {
    position: absolute;
    bottom: 50px;
    right: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 225px;
    height: auto;
    cursor: pointer;
}

.product-image-container {
    width: 185px;
    height: 185px;
    background: #f1f1f1;
    border-radius: 16px;
    padding: 10px;
}

.product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content-product:hover svg {
    stroke: #000000E6;
}

.see-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.see-detail p {
    width: 80%;
    font-size: 1rem;
    font-weight: 500;
}

.see-detail svg {
    transition: all 0.3s ease;
    stroke: #00000099;
}

#hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}
#hero-image.fade-out {
    opacity: 0;
}

.vs-container {
    padding: 40px;
    width: 100%;
    min-height: calc(100dvh - 60px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vs-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.vs-products h2 {
    text-align: left;
    font-size: 1.8rem;
    color: #111;
    font-family: 'OpenSans';
}

.discover-more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: white;
    border: 2px solid #000000E6;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'OpenSans';
    font-weight: 500;
    stroke: #000000E6;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
}

.discover-more-button::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border: 2px solid transparent;
    pointer-events: none;
}

/* on hover: show outer border */
.discover-more-button:hover::before {
    border-color: #000000E6;
}

.discover-more-button:hover {
    background: #000000E6;
    color: white;
    stroke: white;
}

.vs-product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    width: 100%;
}

.vs-product-card {
    background: #fefefe;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    cursor: pointer;
    position: relative;
    gap: 10px;
}

.vs-product-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12);
    background: #fffefc;
}

.vs-product-img-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #f1f1f1;
    border-radius: 14px;
    padding: 20px;
}

.vs-product-card img {
    width: 70%;
    max-width: 220px;
    height: auto;
    object-fit: contain;
}

.vs-bottom-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.vs-product-card-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.vs-product-card h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #111;
    font-family: 'OpenSans';
}

.vs-price {
    font-size: 1.25rem;
    color: #333;
    font-weight: bold;
    font-family: 'OpenSans';
}

.vs-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30px;
    right: 30px;
}

.vs-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 0.75rem;
    background: white;
    color: #000000E6;
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    max-height: 42px;
    stroke: #000000E6;
}

.vs-cart:hover {
    background: #000000E6;
    color: white;
    cursor: pointer;
}

.vs-cart:hover svg {
    stroke: white;
    transition: all 0.3s ease;
}

/* Toast */
.vs-toast {
    visibility: hidden;
    min-width: 250px;
    max-width: 90%;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 14px 24px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%) translateY(20px);
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    pointer-events: none;
}

/* Show toast */
.vs-toast.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}


@media (max-width: 800px) {
    .hero-content-product {
        display: none;
    }
}

@Media (max-width: 600px) {
    .short-text {
        width: 90%;
    }

    .vs-slider-container {
        padding: 20px;
    }

    .vs-container {
        padding: 20px;
    }
}